:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

* {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    font-family: var(--primary-font);
}
.container {
    width: 800px;
    margin: 20px auto 0px;
}

header,
main {
    text-align: center;
}

header {
    margin-top: 20px;
}

img {
    width: 200px;
}

.hide {
    display: none;
}
